[user]
  name = Max Belsky
  email = public.belsky@gmail.com
[advice]
  detachedHead = false  
[alias]
  br = branch
  ci = commit
  co = checkout
  cob = "!f() { git checkout -b mbelsky/$1; }; f"
  conflicts = diff --name-only --diff-filter=U
  cp = cherry-pick
  lbr = branch --format='%(if)%(HEAD)%(then)* %(else)  %(end)%(color:green)%(refname:short)%(color:reset) %(subject)'
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  men = merge --no-ff
  rb = rebase
  shallow = clone --depth 1
  st = status
  start = !git init && git commit --allow-empty -m 'Initial commit'
  please = push --force-with-lease
  prom = pull --rebase origin master
  upush = push -u origin HEAD
  undo = reset --soft HEAD~
[color]
  ui = true
[diff]
  tool = opendiff
[fetch]
  prune = true
[push]
  default = simple

[core]
  editor = /usr/bin/vim
